@model dynamic

@{
    ViewBag.Title = "Rules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Regler</h2>
<p>
    <h4>Spelplan</h4>
    Storlek: 25 x 20 meter <br/>
    Slagrutan: Imellan först och sista bas. 2 x 1 meter <br />
    Träffytan: V med 45 graders vinkel fra&aring;n slagrutan <br /><br />
    
    <h4>Match</h4>
    Speltid: 4 x 6 minuter (inne, ute, inne, ute)<br />
    Spelare per lag: Minst 7, högst 10<br />
    Domare: 2x Huvud domare, 2x Linjedomare<br /><br />
    
    <h4>Po&auml;ng</h4><br /><br />
    <h5>Innelag</h5><br />
    Inkommen spelare - 1p<br />
    Varvning - 6p <br /><br />
    
    <h5>Utelag</h5><br />
    Bränning - 1p<br />
    Utbränning - 10p<br />
    <br />
    Tv&aring;hands Lyra - 2p<br />
    Enhands Lyra - 5p<br /><br />
    
    <h4>Slag</h4><br />
    <h5>Ogiltiga slag:</h5><br/>
    - Slag utan hand i ögglan<br />
    - Slag utanför Träffytan
</p>

@*Spelplan: 25 x 20 meter (beroende på antal deltagare)<br/>
    Speltid: 4 x 10 minuter (inne ute inne ute).<br/>
    Poäng för innelag: 1 poäng för inkommen spelare 6 poäng för varvning.<br/>
    Poäng utelag: 1 poäng för bränning, (bränd spelare till första konan). 3 poäng för lyra (enbart giltiga
    slag). 5 poäng för utbränning av innelaget + poäng för ev. brända spelare.<br/>
    Vid utbränning skall alla spelare återvända till slagplatsen.<br/>
    Antal slag: Högst tre försök. Om bollen passerar brännplattan så räknas det som ett giltigt slag.<br/>
    Ogiltigt slag är det om bollen går utanför fotbollsplanen innan de yttre konorna, dock inte om bollen
    studsar en massa gånger och sedan rullar ut utanför fotbollsplanen.<br/>
    Varningar: Maskning, farligt spel eller osportsligt uppträdande. Vid första tillfället under matchen:
    Lagvarning. Andra tillfället: 5 minuspoäng. Tredje tillfället: 10 minuspoäng.<br/>*@